[2016-01-17 18:01] Marzona opened #1 "a click on the headers of the right most table should be ignored"
New bug found in the UI, if the user clicks on the headers of the right table (that holds the bookmarks) gqrx-remote tries set the frequency to the content of the first column, that indeed is a string ad it fails.

[2016-01-17 18:02] Marzona opened #2 "quick lookup on the most common bands/channels"
Somewhere in the UI there should be the option to recall and tune a specific band/channel expressed in meters.
The usecases are :
- scanning the x-meters band
- scanning a maritime channels
- quickly tune a specific band, and then manually fine tune from that frequency on

The way I would like to implement this is by adding a tabbed interface in the bookmarks area. One tab should hold the bookmark

[2016-01-17 18:02] Marzona opened #3 "the user wants to constantly monitor an identified frequency/mode"
gqrx-remote provides basically:
- bookmarking features
- scanning features

a new feature is something like a monitoring mode. The related user requirement is:"I want to constantly check if between 100 mhz and 120 mhz in CW there is radio activity, I want to scan that band and bookmark the active frequencies".

[2016-01-17 18:03] Marzona opened #4 "the user needs to save/restore monitoring configuration for a given band"
The use case is to load/save a freq interval and all the info to continuously check for radio activity. Once a frequency monitor mode is defined, the user need to store the configuration of a monitoring session.
As an example: the user want's to monitor the radio activity between 125 and 130 mhz for 10 continuous passes, or for 10 minutes.
The user should be able to save something like a monitorin

[2016-01-17 18:03] Marzona opened #5 "add recording of active frequencies from the rig"
it can be interesting to have the option to trigger the audio recording of gqrx when an active frequency is found.

[2016-01-17 18:03] Marzona opened #6 "The user may want to use rig-remote while scanning, scanning should be a non blocking task"
Regarding a scanning action the user may want:
- to change the signal level to trigger on
- to stop the scan
- to change the max
- to change the interval
- to change the delay

while the scan is ongoing. Now the tool is blocked until the scan task completes.

[2016-01-17 18:04] Marzona opened #7 "insert tool-tips in the UI"
Tooltips should improve the usability and provide a meaning to the UI filelds

[2016-01-17 18:04] Marzona opened #8 "highlight the active bookmaks while performing a scan"
While boommarks are being scanned, if there is activity on one frequency the related bookmark should be highlighted. It should stay highlighted until the user marks it

[2016-01-17 18:04] Marzona opened #9 "sortable columns in the bookmark table"
Make the bookmark columns sortable

[2016-01-22 07:23] Marzona commented on #1
red herring.

if the user selected a bookmark and he double click the headers, the bookmark will be sent to the rig.
If the user has not selected any bookmark and he double click the headers nothing happens.

[2016-01-22 07:23] #1 closed, assigned to Marzona

[2016-02-05 06:06] Marzona opened #12 "bookmark file and first execution"
rig-remote should never log a warning if the bookmark file doesn't exist.
this because the tool works even without and because if it is the first execution of the tool the absence of the bookmark file is the expected behavior.

[2016-02-05 21:05] Marzona commented on #12
fixed in devel.

it will move to master branch at next release.

[2016-02-05 21:05] #12 closed, assigned to Marzona

[2016-02-07 17:21] Marzona commented on #3
Code available in devel branch

[2016-02-07 17:21] #3 closed, assigned to nobody

[2016-02-07 17:21] Marzona commented on #5
Code availavle in devel branch

[2016-02-07 17:21] #5 closed, assigned to nobody

[2016-03-05 15:15] Marzona commented on #7
added in 8515c76556f9d91167a89db3857a380365aeb4f3 in devel branch

[2016-03-05 15:15] #7 closed, assigned to nobody

[2016-03-05 20:31] Marzona opened #18 "ability to enable/disable the recording in gqrx"
https://github.com/csete/gqrx/pull/344

[2016-03-08 03:03] MaineTim commented on #6
Got the fundamental code working for updating a scan option while the scan is running, just have to set up all the bindings for each widget and expand the code in the scan thread to cover all the options, and it will (hopefully) be ready to commit.

[2016-03-11 09:51] ly2ss opened #19 "TypeError: range() integer end argument expected, got str."
Got running rig-remote. All parts ok except when entered  Min 1000 Max 2000 Interval 25
I get error in console:
Exception in Tkinter callback
Traceback (most recent call last):
  File "/usr/lib/python2.7/lib-tk/Tkinter.py", line 1489, in **call**
    return self.func(_args)
  File "/home/zilvis/src/rig-remote/modules/ui.py", line 574, in frequency_start
    self._scan("frequency", "start")
  File

[2016-03-11 09:55] Marzona commented on #19
Hello,

First of all thanks for reporting this.

I have a question for you, wich branch are you using? I assume master but I
just want to be sure.

Thanks

Regards

Simone Marzona

Linux registered user number: 509183

PGP key ID: 1024D/36F88CC3

Star Trek (2009):

Burly Cadet #1: Hey farmboy. Maybe you can't count. But there are four
of us and one of you.
James T. Kirk: So get some more guys and

[2016-03-11 10:14] ly2ss commented on #19
I used  "git clone https://github.com/marzona/rig-remote.git"
p.s. how I could get devel branch ? I'd like to test it too.

[2016-03-11 18:16] Marzona opened #20 "stack trace while using frequency range scanning in branch master"
Got running rig-remote. All parts ok except when entered Min 1000 Max 2000 Interval 25
I get error in console:
Exception in Tkinter callback
Traceback (most recent call last):
File "/usr/lib/python2.7/lib-tk/Tkinter.py", line 1489, in call
return self.func(args)
File "/home/zilvis/src/rig-remote/modules/ui.py", line 574, in frequency_start
self.scan("frequency", "start")
File "/home/zilvis/src/rig

[2016-03-11 18:17] Marzona commented on #19
here we are,

https://github.com/Marzona/rig-remote/issues/20

thanks

On Fri, Mar 11, 2016 at 9:51 AM, ly2ss notifications@github.com wrote:

##

 Simone Marzona

 Linux registered user number: 509183

 PGP key ID: 1024D/36F88CC3

 Star Trek (2009):

 Burly Cadet #1: Hey farmboy. Maybe you can't count. But there are four
 of us and one of you.
 James T. Kirk: So get some more guys and then it'll

[2016-03-11 22:08] MaineTim commented on #19
Use the command: `git checkout devel` in your rig-remote directory.
It should respond:
`Branch devel set up to track remote branch devel from origin.
Switched to a new branch 'devel'`
If so, you're in.

[2016-03-13 16:30] MaineTim commented on #6
Pushed a batch of changes, mostly to ui.py, to support interactive scan parameter updates. All the entry widgets, and all the relevant checkbuttons, are now stored in a dict, and as they are updated, they are validated as needed, and previous values are stored. Relevant parameter changes are pushed onto a queue and passed to the scan thread, which has skeleton code to accept them. Next up is to fl

[2016-03-13 16:46] Marzona commented on #6
hello,

it's super fine, providing that you do that in a branch from devel, and you
update the issue on github. More or less that was the same approach I was
trying to follow (threading and queues). I'm looking forward to see how you
managed the dict for the ui.

I'll take care of the bug reported by the user in a few weeks, as I'm out
for work in US for a while now, than I'll be on vacation. Anyw

[2016-03-13 17:00] MaineTim commented on #6
Oops! I already pushed to code changes directly to devel. Be glad to undo that and put them up on a separate branch off of devel, as you suggest. Let me know.

[2016-03-13 17:02] Marzona commented on #6
if it doesn't cause you too much trouble I would prefer.

the reason is that if I want to code a new feature I'll branch devel and I
prefer to have something that "sort of works"

On Sun, Mar 13, 2016 at 5:00 PM, MaineTim notifications@github.com wrote:

##

 Simone Marzona

 Linux registered user number: 509183

 PGP key ID: 1024D/36F88CC3

 Star Trek (2009):

 Burly Cadet #1: Hey farmboy. Maybe

[2016-03-13 17:05] MaineTim commented on #6
Sure. In this case, I'd made enough changes to the structure of the base code that I was worried about things getting out of sync between us, so I thought I'd push it directly. I'll go back and redo it.

[2016-03-13 17:30] MaineTim commented on #6
Done. The code as it stands seems to run fine, but the scan thread doesn't do anything with the updates yet. In implementing that, I may change the way the initial parameters are passed to the thread over to a dict as well, so that the thread update code can reference the parameters more easily. I'll see which way looks better.

[2016-03-13 18:12] dinofirstianto opened #21 "bookmark scanning still does not work after update from Devel..??"
**If there is something wrong with my code ?**
**This is my first experience using github and i use the master branch - >** https://github.com/Marzona/rig-remote.git

Traceback (most recent call last):
  File "/Users/andinofirstianto/rig-remote/modules/scanning.py", line 121, in **init**
    self.range_min = khertz_to_hertz(int(range_min.replace(',', '')))
ValueError: invalid literal for int() wit

[2016-03-13 18:54] MaineTim commented on #21
Hi - Thanks for the report. Were the bookmarks created using the devel branch, or the master branch? Any chance you could post your bookmarks?

[2016-03-13 19:11] MaineTim commented on #21
Hi - Thanks for the report. I was able to reproduce what I think is the problem by having one or more of the fields in "Scanning Options" or "Frequency Scanning" empty. Is that the case on your end? If so, an easy fix is just to delete the rig-remote config file (~/.rig-remote/rig-remote.conf) and the next run will fill in reasonable defaults. I'll fix the code to take care of the issue ASAP.

[2016-03-13 20:33] MaineTim commented on #21
Pushed code to devel to handle blank parameter fields, and strip any non-numerics out before we process the field. Please let me know if that clears the problem for you. Thanks.

[2016-03-16 00:49] MaineTim commented on #6
Hi Simone - I ended up spending some time doing more input validation of the scanning parameters in the new branch (basically forcing all the pertinent entries to have some kind of valid input, one way or the other). If you get a chance, I'd like to hear your thoughts on how the user interaction is handled (too intrusive?) and could be improved. I did end up changing over to passing a copy of the

[2016-03-17 02:15] Marzona commented on #6
Hello,

I'm more than happy to do that, but I'll be able to do it only around
April10 as until then I'll be very busy.

thanks and regards

On Wed, Mar 16, 2016 at 12:49 AM, MaineTim notifications@github.com wrote:

##

 Simone Marzona

 Linux registered user number: 509183

 PGP key ID: 1024D/36F88CC3

 Star Trek (2009):

 Burly Cadet #1: Hey farmboy. Maybe you can't count. But there are four
 of

[2016-03-18 10:10] MaineTim commented on #6
Feature has been added to the devel branch.

[2016-03-18 10:10] #6 closed, assigned to MaineTim

[2016-03-18 10:11] MaineTim commented on #21
Devel branch has been updated with additional validation checks.

[2016-03-18 10:11] #21 closed, assigned to MaineTim

[2016-03-18 22:13] MaineTim opened #22 "Validate existing config file on start-up, and manual bookmark inputs."
branch tim-devel-validation-issue22 created.

[2016-03-22 23:36] MaineTim commented on #22
Added validation of the config file, both at loading for correct form and valid keys, and at application, for correct data types. Defaults used when errors are found. Values can still be crazy as long as they are valid. Added validation of type for frequency entry, and for bookmarks when they are loaded. Added the new params to the config file handling code. Merged to devel.

[2016-03-22 23:36] #22 closed, assigned to MaineTim

[2016-04-12 11:17] MaineTim opened #23 "Restore auto-bookmarking"
Restore auto bookmarking to frequency scanning.
Branch tim_devel_restore_autobookmark
Initial recode has been done, but I only ran a very brief test. Will need to go over it more thoroughly later.
Question: shouldn't the assignment of activity time be done in the scan thread as the entry is made in the list, rather than when the list is processed?

[2016-04-13 00:02] MaineTim commented on #23
Updated auto-bookmarking to record actual time of event and mode.

[2016-04-13 10:28] MaineTim commented on #23
Branch merged back into devel.

[2016-04-13 10:28] #23 closed, assigned to MaineTim

[2016-04-13 21:13] Marzona opened #24 "rig-remote should be able to connect to more than one rig at the same time."
There are more than one use-case for this feature.
As an user I may want to tune more than one frequency at the time:
- [ ] I want to listen a full duplex conversation: a full duplex conversation that involves 2 frequencies and potentially two different modes. As an example I may want to listen to airplane<->airport communication.

As an user I may want to use more than one rig for scanning a wide

[2016-04-13 21:20] Marzona opened #25 "Review the interactions with other software/hardware"
Rig-remote uses rigctl as a protocol over tcp/ip to connect to other receivers (software or hardware). So far it has been used mostly with GQRX.
- [ ] I want to review the interaction with other software using rigctl and make sure it's working as expected.
- [x] I want to scope and review the impact of implementing hamlib support for interacting with other software providing hamlib as a communicat

[2016-04-13 21:28] Marzona opened #26 "improve bookmarking features to accommodate the scenario in issue 24"
There is more than one approach to accommodate the bookmarking features required in issue 24.

We may want to provide a different set of bookmarks, sort of "coupled bookmarks" in this new set every entry is a couple of bookmarks one for every of the two rigs. Every bookmark is representing a single action: tuning into a communication, the detail of communication happening over two frequencies is a

[2016-04-13 21:30] Marzona opened #27 "UI redesign required to accommodate issue 24"
Issue 24 requires some changes in the UI design and issue 2 too.

The actual UI simply isn't designed to consider this new requirements.

[2016-04-13 21:47] Marzona opened #28 "as a user I would like to save the rig configuration for connecting rig-remote to a rig"
So far rig-remote assumes that every rig provides the same features.
This may not be always true.

We may want to defines rig profiles and endpoints.
- a profile is a collection of capabilities (freq range, ). This replies to the question: "what rig is this one?"
- an endpoint is a couple (ip,port) (if we use rigctl over tcp) or something else (if we use hamlib) this replies to the question: "How

[2016-04-14 16:56] MaineTim commented on #20
Just curious... I'm not at a machine that is running rig-remote right now... is this error still occuring in the devel branch?

EDIT: Okay, now I've had a chance to test it here, and I can't duplicate it in either the master or devel branch.

[2016-04-16 20:37] Marzona commented on #20
hey Tim,

sorry I wasn't able to reply to you on this.

closing this issue as resolved in devel

[2016-04-16 20:37] #20 closed, assigned to Marzona

[2016-04-16 20:37] #19 closed, assigned to Marzona

[2016-04-16 21:03] Marzona opened #29 "stack trace while issuing a bookmark scan"
marzona@rubberduck:~/sdr/my-repo/rig-remote$ python ./rig-remote.py
Exception in Tkinter callback
Traceback (most recent call last):
  File "/usr/lib/python2.7/lib-tk/Tkinter.py", line 1539, in **call**
    return self.func(*args)
  File "/home/marzona/sdr/my-repo/rig-remote/modules/ui.py", line 1046, in bookmark_toggle
    self._scan("bookmarks", action)
  File "/home/marzona/sdr/my-repo/rig-remo

[2016-04-16 21:04] Marzona commented on #29
fixed in devel in commit 8e92adc3fb01e6f2cdc37ab072c09db4b7f43ca4

[2016-04-16 21:05] #29 closed, assigned to Marzona

[2016-04-17 07:31] Marzona opened #30 "rig-remote gets stuck after a scanning task has completed"
when a scanning task completes, the stop button doesn't change to start and pressing the stop button doesn't produce any result, doesn't commute it to start and the program is blocked.
The only way out is killing the python interpreter process.

[2016-04-17 08:12] Marzona opened #31 "ui.py is way too long"
every module should be definitely less than 600 lines, ideally no more than 400-500.
If a module gets bigger we need to refactor the code and split the module

[2016-04-17 08:43] Marzona commented on #30
one behavior is fixedin devel/6c7b2fc6e8d8eed0565cf41369b5b69748f3f2cc

[2016-04-17 09:03] MaineTim commented on #30
One error is that scanning.py Line 259  task.new_bookmark_list.append(nbm) needs to be indented.

[2016-04-17 09:12] Marzona commented on #30
Yes found it, that's fixed

Simone Marzona

Linux registered user number: 509183

PGP key ID: 1024D/36F88CC3

Star Trek (2009):

Burly Cadet #1: Hey farmboy. Maybe you can't count. But there are four
of us and one of you.
James T. Kirk: So get some more guys and then it'll be an even fight
On Apr 17, 2016 10:03, "MaineTim" notifications@github.com wrote:

[2016-04-17 10:09] MaineTim commented on #30
So it's failing in the call to task.stop_scan_button.event_generate("<ButtonRelease-1>"). That method did work when I wrote it a while back, but a lot has changed since then, and frankly I neglected to to check it recently as I haven't had a need for limited passes. Probably I just got lucky in not running into tkinter thread issues initially.

[2016-04-17 11:36] Marzona commented on #30
No worries, I'm checking. I'll update the issue.

Regards

Simone Marzona

Linux registered user number: 509183

PGP key ID: 1024D/36F88CC3

Star Trek (2009):

Burly Cadet #1: Hey farmboy. Maybe you can't count. But there are four
of us and one of you.
James T. Kirk: So get some more guys and then it'll be an even fight
On Apr 17, 2016 11:09, "MaineTim" notifications@github.com wrote:

[2016-04-20 05:49] Marzona opened #32 "refactor is_valid_hostname() in ui.py"
The function relies on the structure of the hostname passed as string.
name length, structure of the strings considering dot separation..

I would simply try a name resolution and catch the exception. This will allow us to avoid to bother for new FQDN,  ipv6 compatibility and such..

moreover the function should raise exception and not return true/false.

[2016-04-24 06:28] Marzona opened #33 "remove the event generation logic from the scanning thread"
The scanning thread now generates tk events at  the end of the task to signal it's completion.
Then the main thread should join() and terminate the child thread.

This is a known bad practice according to the tkinter documentation, and the side effect described in the documentation is what we are experiencing.

[2016-04-24 06:32] Marzona opened #34 "create a communication class for handling signaling and the communication between threads"
We need to define how the threads will exchange commands and status, as we agreed we need to create a class that provides 2 queues (of size 1 for now) and the methods for handling the insertion/deletion of events. The class should provide the signaling logic and provide methods for creating/sending messages  too.

This is going to be a dedicated module

[2016-04-24 06:35] Marzona opened #35 "increase the unit test coverage to the features created with issue 33 and 34"
we need to create unit tests for the logic created with issue 33 and 34.

There will be a new module that implements a new logic. This part of the tool has already failed twice and we need to avoid regression of bugs.

[2016-04-24 06:36] Marzona commented on #30
Fixing this issue implies refactoring part of the code that covers the end of the task.

As discussed this is the way we want to go:
- https://github.com/Marzona/rig-remote/issues/33 remove signaling code from the child threads
- https://github.com/Marzona/rig-remote/issues/34 defining a messaging class
- https://github.com/Marzona/rig-remote/issues/35 create unit tests for covering the new logic

[2016-04-24 06:41] Marzona opened #36 "I want to have bookmarks handling in a dedicated module"
Bookmaks handling means:
- a new bookmark class
- methods for adding/removing BM
- methods for handling sets of bookmarks (at least defined and drafted , then with a raise NotImplementedError() in the body).

[2016-04-24 06:45] Marzona opened #37 "I want to have a set of modules implementing the user interaction with the UI"
We need a set of modules that handles the user interaction.

The ui.py modules will only  "bind" the ui interaction with the code of this module

[2016-04-24 06:47] Marzona opened #38 "unit test coverage for the new modules"
we need to have unit tests coverage for all the new code. Having coverage at or more 70% must be a target before any merge to master branch

[2016-04-24 06:49] Marzona opened #39 "As a developer I want to improve the separation of the code in modules."
Some modules are having too much features. The ui.py module  needs to be shorter and deal only with strictly UI code.
- https://github.com/Marzona/rig-remote/issues/36 bookmarks handling needs to be moved to a dedicated module
- https://github.com/Marzona/rig-remote/issues/34 the threading logic needs to be moved outside the ui.py module
- https://github.com/Marzona/rig-remote/issues/37 all the lo

[2016-04-24 23:03] MaineTim commented on #34
I've coded out two classes as a skeleton module, a lower-level class that instantiates the two queues and provides access methods for both numeric signals and generic objects, and a higher-level scan-thread comm class that applies the lower-level class to gui-event updates and scan-thread status notification. I've substituted it into the program code and just need to add some processing code in th

[2016-04-25 02:20] MaineTim commented on #34
Main thread code resolved and tim_devel_fix_issue30 branch pushed.

[2016-04-25 02:22] MaineTim commented on #30
GUI code removed from scan thread and thread comms using STMessenger class in tim_devel_fix_issue30.

[2016-04-25 02:57] MaineTim commented on #33
GUI code removed from scan thread in branch tim_devel_fix_issue30

[2016-04-25 18:52] MaineTim opened #40 "Queue handling freeze"
With a single-element queue, the program will freeze if a second event is attempted to be queued before the first one is handled by the scan thread during a bookmark scan. In the past, the events could "buffer up", and the scan thread would handle them in succession when it ran its periodic queue processing code. That logic will need to be changed.

To reproduce, run a bookmark scan and toggle a c

[2016-04-26 08:11] MaineTim commented on #40
The put call in send_to_child() in QueueueComms is blocking when the queue is full (there's an unhandled event update), which understandably halts the main thread.  The scan thread halts as well, though, which means the main thread never unblocks. I'm not sure why that's happening. Seems like the scan thread should eventually clear the queue, the main thread call succeeds and we carry on. At worst

[2016-04-26 08:14] Marzona commented on #40
Are we missing the task_done() call somewhere?

Simone Marzona

Linux registered user number: 509183

PGP key ID: 1024D/36F88CC3

Star Trek (2009):

Burly Cadet #1: Hey farmboy. Maybe you can't count. But there are four
of us and one of you.
James T. Kirk: So get some more guys and then it'll be an even fight
On Apr 26, 2016 09:11, "MaineTim" notifications@github.com wrote:

[2016-04-26 08:15] Marzona commented on #40
I don't actually understand why we need to queue more than one event..but I
didn't dive deep on this.

Simone Marzona

Linux registered user number: 509183

PGP key ID: 1024D/36F88CC3

Star Trek (2009):

Burly Cadet #1: Hey farmboy. Maybe you can't count. But there are four
of us and one of you.
James T. Kirk: So get some more guys and then it'll be an even fight
On Apr 26, 2016 09:11, "MaineTim"

[2016-04-26 08:21] MaineTim commented on #40
I think a task_done is only needed when there's been a join call to clear, isn't it?

[2016-04-26 08:36] MaineTim commented on #40
Because there's no synchronization between the threads, and there doesn't really need to be if the queue is acting as buffer. The event update processing on the scan thread side isn't time critical.

[2016-04-26 15:02] Marzona commented on #40
hello Tim,

you' re right.

On Tue, Apr 26, 2016 at 9:21 AM, MaineTim notifications@github.com wrote:

##

 Simone Marzona

 Linux registered user number: 509183

 PGP key ID: 1024D/36F88CC3

 Star Trek (2009):

 Burly Cadet #1: Hey farmboy. Maybe you can't count. But there are four
 of us and one of you.
 James T. Kirk: So get some more guys and then it'll be an even fight.

[2016-04-26 15:20] MaineTim commented on #40
Why don't we roll back to commit 98580b2, and I'll add back in the one mod that corrects queue checking in the main thread, and then re-think from there.

[2016-04-26 15:53] Marzona commented on #40
Sounds a good plan.

Simone Marzona

Linux registered user number: 509183

PGP key ID: 1024D/36F88CC3

Star Trek (2009):

Burly Cadet #1: Hey farmboy. Maybe you can't count. But there are four
of us and one of you.
James T. Kirk: So get some more guys and then it'll be an even fight
On Apr 26, 2016 16:20, "MaineTim" notifications@github.com wrote:

[2016-04-26 15:59] MaineTim commented on #40
Okay, I'll do it now.

[2016-04-26 15:59] #40 closed, assigned to nobody

[2016-04-26 17:09] #34 closed, assigned to nobody

[2016-04-26 17:09] #33 closed, assigned to nobody

[2016-04-26 17:13] #30 closed, assigned to Marzona

[2016-04-26 20:33] Marzona opened #41 "As an user I want to interact with the rig-remote community"
we need to create a mailing list and link it in the wiki.

[2016-04-26 20:36] Marzona opened #42 "as a user I want to have a user manual for rig-remote and not relying only on the readme"
We have to create a wiki on github and move there the content of the readme file.
The readme file should contain only the changelog or such, it should not replace a user manual.

[2016-04-26 20:41] Marzona commented on #18
committed to devel

[2016-04-26 20:41] #18 closed, assigned to nobody

[2016-04-27 09:59] MaineTim opened #43 "Scan thread queue can fill while scan is in a signal wait hold."
If "wait for active signal" feature is enabled, the scan thread queue goes unchecked while the signal is active. This allows the queue to fill, and we could drop events. Will experiment with using a forced queue check and see what implications that brings.

[2016-04-27 15:41] MaineTim commented on #43
Rather than going with a forced queue check, have expanded the opportunities for queue processing within the scanning loop, and during a "wait for active signal" state. Also added a _queue_sleep method that does queue processing while we are "sleeping". If the queue fills now, something has really gone wrong, and would need to be addressed. Pushed to devel in commit f2c1902.

[2016-04-27 15:41] #43 closed, assigned to MaineTim

[2016-04-27 19:24] MaineTim opened #44 "In scanning.py, how much screening for malformed events?"
Question on  this code in _process_queue:

[code]

The only way the get_event_update() is called is if task.scanq.update_queued() is True, so it should never return None. If it does, shouldn't we raise some kind of exception to isolate how the queue got corrupted, rather than passing on problem to the code below?

As far as the rest of the code in the method, it assumes well-formed event updates,

[2016-04-28 22:19] Marzona commented on #35
started to write some unit tests in 947e11569f2a7e8d0e7c109e11acf6024d586b65

[2016-04-28 22:34] Marzona commented on #44
I think that there is no complete answer.

short proposal IMHO is "if we are fine assuming that only tkinter will generate the events we may skip the check. if it's easy cut an issue and when there is nothing with higher priority we will address it, just record the intent."

To be strict, every method should "control the borders" or should assume that everything is always fine and properly handle

[2016-04-29 22:58] MaineTim commented on #44
Okay, thanks. I know it seems like a pedantic question, but just trying to get a feel for your view for coding going forward. I added some tests in commit f7a3a08, which would let a bad update drop and just notify us of the occurrence. In this case, it's probably overkill, but not expensive overkill, and if it did fail somehow, it sure would be interesting to know..

[2016-04-29 22:58] #44 closed, assigned to nobody

[2016-04-29 23:11] Marzona commented on #44
pedantic question: it is not. feel free to ask.

[2016-04-29 23:13] Marzona commented on #35
committed in devel

[2016-04-29 23:13] #35 closed, assigned to nobody

[2016-04-30 11:08] MaineTim opened #45 "Support for Windows"
Commit 4d4e9ff ignores an Attribute exception that crops up when attempting to run under Windows. That brought to mind the question: is running under Windows currently supported, and if not, should it be, officially or unofficially, at some point in the future?

[2016-04-30 11:53] Marzona commented on #45
code reference example :https://github.com/Marzona/rig-remote/commit/4d4e9ff28b9603b7ac4aeaa02fa934970248ad63

[2016-04-30 11:57] Marzona opened #46 "create a package format that is easy to distribute and supported"
I would like to maintain this tool in a format easy to distribute. Egg seems to be the way to go.

[2016-04-30 16:10] #38 closed, assigned to nobody

[2016-05-01 00:31] MaineTim opened #47 "rigctl hostname, port not updated, not used in scan thread."
When the rigctl hostname or port are updated by UI entry, the updated entries are never used. These entry fields need callbacks to update the rigctl instance in the main thread. Further, the rigctl instance created by the main thread isn't passed to the scan thread. Instead, it creates its own, and uses the built-in class defaults, so scanning on a remote machine isn't possible.

Corrective action

[2016-05-01 07:23] Marzona commented on #47
Moreover the rigctl() object is properly instantiated in ui.py (958), and then improperly instantiated in scanning.py (226).

[2016-05-01 08:14] Marzona opened #48 "utility module"
We need to create an utility module.

A module that contains "helper methods/classes/objects" and that doesn't import anything from the other application modules.

This module should contain things like is_hostname_valid, as an example

[2016-05-01 09:22] Marzona commented on #47
fixed with commit 676e134f0f784c12ac8c5a6e00d1dec4a6f55f03 in branch master and backported into devel with commit 587682a298bf34144eed1591040b21bb3bdfca2f

[2016-05-01 09:22] #47 closed, assigned to Marzona

[2016-05-01 09:25] Marzona opened #49 "unit test coverage need to be more aggressive in the UI module"
https://github.com/Marzona/rig-remote/issues/47 proves that we lack unit test on the UI module (or what that module contains now).

We need to cover the UI features of this tool with tests for making sure that all the parameters inserted in the UI are managed properly.

[2016-05-01 13:53] MaineTim commented on #45
Initial testing looks good with the latest commits. I'm able to run all the main functionality without any glitches, working with gqrx running remotely. Will have to set up pytest on this machine and run the unit tests.

[2016-05-01 13:55] Marzona commented on #45
Cool:)

Simone Marzona

Linux registered user number: 509183

PGP key ID: 1024D/36F88CC3

Star Trek (2009):

Burly Cadet #1: Hey farmboy. Maybe you can't count. But there are four
of us and one of you.
James T. Kirk: So get some more guys and then it'll be an even fight
On May 1, 2016 14:53, "MaineTim" notifications@github.com wrote:

[2016-05-01 17:15] Marzona commented on #41
Created:

ml: https://groups.google.com/forum/#!forum/rig-remote

wiki: https://github.com/Marzona/rig-remote/wiki

[2016-05-01 18:47] MaineTim commented on #45
Release 2 passes all py.test tests under Windows 7 with python 2.7.11. I'll close this issue, and if we start to see Windows specific issues that I can't fix, I'll start a new "Windows Specific Issues" issue that can serve as a focal point.

[2016-05-01 18:47] #45 closed, assigned to nobody

[2016-05-01 18:48] Marzona commented on #45
excellent.
Thanks a lot.

On Sun, May 1, 2016 at 7:47 PM, MaineTim notifications@github.com wrote:

##

 Simone Marzona

 Linux registered user number: 509183

 PGP key ID: 1024D/36F88CC3

 Star Trek (2009):

 Burly Cadet #1: Hey farmboy. Maybe you can't count. But there are four
 of us and one of you.
 James T. Kirk: So get some more guys and then it'll be an even fight.

[2016-05-01 18:50] Marzona commented on #45
Hello Tim,

I'm working on the milestone:
https://github.com/Marzona/rig-remote/milestones/Interaction%20with%20the%20users%20and%20collaborators

ml is ok
writing the wiki now.

regards

On Sun, May 1, 2016 at 7:47 PM, MaineTim notifications@github.com wrote:

##

 Simone Marzona

 Linux registered user number: 509183

 PGP key ID: 1024D/36F88CC3

 Star Trek (2009):

 Burly Cadet #1: Hey farmboy.

[2016-05-01 18:51] #41 closed, assigned to Marzona

[2016-05-01 19:36] MaineTim opened #50 "Release 2 : Adding a blank bookmark causes traceback."
I'm on it, but from now on I'm going to add an issue each time I fix something so you get flagged of the commit when it happens. BTW, was able to generate a unit test to duplicate the error, so that's progress on my part. Now I know how to generate unit tests for tkinter events. Who knew?

[2016-05-01 20:14] MaineTim commented on #50
Fixed in commit ce3801c, along with pulling the print statements, and changing logger.exception to logger.error to get rid of that traceback.

[2016-05-01 20:14] #50 closed, assigned to MaineTim

[2016-05-01 20:15] Marzona commented on #50
Great!

[2016-05-01 20:21] Marzona opened #51 "define a release process"
formalize what are the tasks and the procedures for releasing a new version of rig remote.

[2016-05-01 20:37] MaineTim commented on #50
Pushed the same commit to develop.

[2016-05-01 21:13] Marzona commented on #42
https://github.com/Marzona/rig-remote/wiki

[2016-05-01 21:13] #42 closed, assigned to nobody

[2016-05-01 22:06] Marzona opened #52 "Automate what happens at release time"
I want to find an automated way for
- generating egg package
- creating the release on github
- generate the release note file and update the readme.md file
- send a notification email to the mailing list

[2016-05-02 15:56] Marzona opened #53 "Wrong placement for bookmarks file"
When there is no bookmark file and the user adds a bookmark, the tool saves the bookmarks to a new file, but the new file isn't in ~/.rig-remote..

[2016-05-02 16:03] Marzona opened #54 "upload the egg into pypi"
we want rig-remote to be available through pypi service.

[2016-05-02 16:03] #46 closed, assigned to nobody

[2016-05-02 16:44] Marzona commented on #54
https://pypi.python.org/pypi

[2016-05-02 16:44] #54 closed, assigned to nobody

[2016-05-03 00:52] MaineTim commented on #32
commit 01841c1 refactors _is_valid_hostname(), as the original was causing an exception when passed an empty string. Also makes some changes and an addition to test_ui.py also pushed to devel.

[2016-05-03 00:52] #32 closed, assigned to nobody

[2016-05-03 15:42] nicoddemus opened #55 "rig-remote "Framework :: Pytest" category on PyPI?"
Hi,

I was wondering why `rig-remote` has the `Framework :: Pytest` on [PyPI](https://pypi.python.org/pypi/rig-remote)? That category is meant to be used for pytest **plugins**, and is used by [plugincompat](http://plugincompat.herokuapp.com/) to list and test pytest plugins for compatibility in different pytest and python versions.

[2016-05-03 18:30] Marzona commented on #55
Hello nicoddemus,

That's a mistake. I'll fix it asap.

[2016-05-03 18:32] Marzona commented on #55
fixed, and thanks for pinging us on this.

[2016-05-03 18:32] #55 closed, assigned to Marzona

[2016-05-03 19:37] nicoddemus commented on #55
Cool, thanks! :grin:

[2016-05-03 21:09] Marzona opened #56 "scope the support of HAMlib"

[2016-05-03 21:15] Marzona opened #57 "Provide a list of supported rigs"

[2016-05-04 11:14] MaineTim opened #58 "Release 2 : Deadlock in input validation"
If an incorrect entry is made, and the focus is given to the rig configuration section of the UI, a deadlock occurs in which the rig control entry field won't surrender focus, so the messagebox can't be cleared.

[2016-05-04 11:17] MaineTim commented on #58
Fixed in commit 5cc4e8a.

[2016-05-04 11:17] #58 closed, assigned to MaineTim

[2016-05-05 00:49] MaineTim commented on #36
Pushed the first iteration of devel-bookmarks-issues-36-53. Just some bits and pieces here, the only thing the class can do is instantiate, and load and save from an existing file. Next up will be to handle new blank bookmark instance creation, and mapping between the class and the ui tree. What you see is basically thinking outloud at this point.

[2016-05-07 23:44] MaineTim commented on #36
As of commit d231100, BookmarkSet is integrated into the UI code. It loads, adds, deletes and saves okay. I renamed all the callbacks in ui.py to follow the standard you were using (_cb_foor_bar) so we have continuity, and am converting private methods to an _prefix as I go. Next up is to update the scanning thread code to work with a Bookmarkset. Have also started migrating things to utility.py.

[2016-05-08 11:23] MaineTim opened #59 "Wrong placement of default config file"
Config file is written to ~/.rig_remote/rig_remote.conf by default, instead of ~/.rig-remote/rig-remote.conf.
Need to support old file name while transitioning to new one.

[2016-05-08 15:47] MaineTim commented on #59
Fixed in devel in commit 8e2bc75751182b40aaec4e32086363fa659f7808.

[2016-05-08 15:48] MaineTim commented on #53
Fixed in devel in commit 8e2bc75751182b40aaec4e32086363fa659f7808

[2016-05-08 15:49] MaineTim commented on #48
Moved some helper functions to utility.py in devel in commit 8e2bc75751182b40aaec4e32086363fa659f7808

[2016-05-10 20:27] #53 closed, assigned to MaineTim

[2016-05-10 21:12] Marzona commented on #51
improved support in release.sh and setup.py in commit 5199a262434b3ec2adcb5005c461947dba0b0811

[2016-05-10 21:24] Marzona commented on #31
moved ToolTip Class from UI to utility module in d54ad0c4d64c43267559690da669af5fda31b55d

[2016-05-10 21:25] Marzona commented on #31
============================================================= test session starts =============================================================
platform linux2 -- Python 2.7.10 -- py-1.4.30 -- pytest-2.7.2
rootdir: /home/marzona/sdr/my-repo/rig-remote, inifile:
plugins: cov, pep8, cache
collected 102 items

test/test_appconfig.py ....
test/test_disk_io.py .........
test/test_import.py ............

[2016-05-14 14:30] #59 closed, assigned to MaineTim

[2016-05-14 14:58] Marzona commented on #51
wiki page provided with sort of a procedure

[2016-05-14 14:58] #51 closed, assigned to nobody

[2016-05-14 15:10] Marzona commented on #52
setup.py  and release.sh are now able to create git tags, eggs and all the required tasks, I'll test them at next release.
the readme.md file needs to be edited manually.

[2016-05-14 15:10] #52 closed, assigned to nobody

[2016-05-15 15:55] Marzona opened #60 "unit test coverage need to be more aggressive in the scanning module"

[2016-05-15 15:55] Marzona commented on #60
worked on the coverage in the following commits:

fb9b69d21bbb5811e54943b4f17a594e47c0044e,
038de910736cf50629a35104b37925678a321fa8,
8039d6ef70a8d72fd1ef622f4aaa79d7e1abdfef

[2016-05-15 15:57] Marzona opened #61 "unit test coverage need to be more aggressive in the app_config module"

[2016-05-15 15:58] Marzona opened #62 "in signal_level freq variable is referenced before assignment"

[2016-05-15 15:58] Marzona commented on #62
fixed in commit fb9b69d21bbb5811e54943b4f17a594e47c0044e in devel

[2016-05-15 15:58] #62 closed, assigned to nobody

[2016-05-15 16:32] Marzona opened #63 "provide the option to request the udp audio stream to the rig"

[2016-05-15 16:35] Marzona opened #64 "as a user I want to record the audio received from the rig"

[2016-05-15 21:38] Marzona opened #65 "complete the implementation of rigctl"
here is the documentation of rigctl: http://gnu.wiki/man1/rigctl.1.php

[2016-05-29 21:03] MaineTim opened #66 "Issues in scanning and rigctl modules."
In the scanning module, ALLOWED_SCAN_TYPES and SUPPORTED_SCANNING_MODES conflict. Unified on SUPPORTED_SCANNING_MODES.

In the scanning module, the new _frequency_tune method is calling _process_queue, but, with the exception of pass_count, the updated values aren't passed back up to the caller, and interval is never initialized. Could set up a named tuple or something to pass the values back, but

[2016-05-29 21:05] MaineTim commented on #66
Commit 1ec234c8d71b06455c492bb7a2e65609db30a02a in devel.

[2016-05-29 21:05] #66 closed, assigned to MaineTim

[2016-05-29 21:07] Marzona commented on #66
Thanks Tim.

[2016-05-30 16:04] MaineTim commented on #59
Commit 0301fa4f52f973fba3dc7b610b0c54e6ff84dda7 code rewrite of handling for all working file paths.

[2016-07-01 20:19] Marzona commented on #48
done in :
312cb44097f60c2adc2219ac2a7b5b4c97594fc9

[2016-07-01 20:19] #48 closed, assigned to nobody

[2016-07-01 20:38] #64 closed, assigned to nobody

[2016-07-04 14:12] #65 closed, assigned to nobody

[2016-07-06 17:01] #60 closed, assigned to nobody

[2016-07-06 17:08] Marzona commented on #63
blocked on gqrx support

[2016-07-06 17:09] #61 closed, assigned to nobody

[2016-07-06 17:09] Marzona commented on #61
we are good as of now

[2016-07-06 17:10] Marzona commented on #49
we are good as of now, and since there is the plan to re-design the UI...

[2016-07-06 17:10] #49 closed, assigned to nobody

[2016-07-06 17:11] Marzona commented on #39
the only problematic part left is the UI module, which is going to be re-designed completely

[2016-07-06 17:11] #39 closed, assigned to nobody

[2016-07-06 17:12] Marzona commented on #31
we are good as of now, the UI module is going to be redesigned completely.

[2016-07-06 17:12] #31 closed, assigned to nobody

[2016-07-07 07:40] Marzona commented on #57
I got no hardware receivers to test/review, unfortunately. The support of different receivers is limited then to the ones supported by hamlib (rigctl -l) and the ones that natively support rigctl protocol through tcp.

[2016-07-07 07:40] #57 closed, assigned to nobody

[2016-07-07 07:41] Marzona commented on #56
support provided by rigctld already. no-op

[2016-07-07 07:41] #56 closed, assigned to nobody

[2016-07-07 09:43] Marzona commented on #25
no need for hamlib support, rigctld provides already everything

[2016-07-13 06:33] Marzona commented on #25
I would like to have some test performed with some real rigs and rigctl/hamlib but I don't have any..

[2016-07-13 06:37] Marzona commented on #4
Ideally the bookmark area of the UI should become "labeled".
A label for frequency bookmarks, a label for rig configurations, a label for frequency bandwidth (meter bands, maritime bands.. and so on), a label for personal bands the user wants to save.

[2016-07-13 21:31] simontoddm opened #67 "Bookmarked frequencies delete functionality"
More of a request as opposed to an issue, but I would like the ability to highlight or select multiply bookmarked frequencies and delete them from the UI. Also, after a delete, I would like the next bookmarked frequency below the deleted bookmarked frequency to be highlighted without having to reselect in the bookmarked window.

[2016-07-14 04:56] Marzona commented on #67
Hello,

thanks for this issue. I inserted it in a milestone and I labeled it.

Bookmarks are going to be redesigned/improved as described in the other issues we have, we will see at which stage this feature may be added.

thanks agian.

[2016-11-15 21:30] Marzona opened #68 "Bookmark export/import feature"
rig-remote should be able to export/import the bookmarks

[2016-11-27 21:50] Marzona opened #69 "build features for import/export gqrx bookmarks"
rig-remote should be able to import and export bookmarks to/from gqrx file format

[2016-11-27 22:24] Marzona commented on #27
done in 7acedd44295c2301c465328abd1dba01b8b29862

[2016-11-27 22:24] #27 closed, assigned to nobody

[2016-11-27 22:29] Marzona commented on #24
the codechange that handles 2 rigs is committed in :
411ef22bdce5487ebd6a156cc9023de2b7c6b9a8

#26. #27 and #28 are open and need to be tackled.

[2016-11-27 22:29] #24 closed, assigned to nobody

[2016-11-27 22:37] Marzona commented on #67
Hello,

in commit 411ef22bdce5487ebd6a156cc9023de2b7c6b9a8, actually in the branch 2_rig, among all the UI redesigns/changes there is a new remove button, that removes the selected entry from the bookmarks.

While I don't see this as the final solution for your request, it may be an intermediate step.

[2016-11-27 23:07] simontoddm commented on #67
Awesome! Thanks!

On Sun, Nov 27, 2016, 4:37 PM Simone Marzona <notifications@github.com>
wrote:

[2016-12-04 01:24] Marzona commented on #36
to revive this issue, I started moving the bookmarks logic in  a bookmark.py file, the commit is in devel branch now

ui.py is getting huge:(

[2016-12-08 14:37] Marzona commented on #67
I'll close this issue.

[2016-12-08 14:37] #67 closed, assigned to nobody

[2016-12-08 15:04] Marzona commented on #36
I'm closing this, the work done has been merged into devel branch in 283bd98ddc5872a07759b806935fcb7f6a7ce679

[2016-12-08 15:04] #36 closed, assigned to MaineTim

[2016-12-08 15:19] Marzona commented on #28
This could me rephrased as having "rig profiles"

The properties of a rig are:

* frequency range available
* modes (digital vs analog, exclusion list)
* socket used last time (?)

[2016-12-08 15:45] Marzona commented on #37
the stuff regarding the bookmarks has been moved.
There are still a few helper functions that needs to be moved out of the ui module, and the AppConfig logic deserves a custom module too, then this issue can be closed.

[2016-12-09 16:25] Marzona opened #73 "Rig remote should set a mode while doing a frequency scan"
when I want to scan a frequency range I may want to set a mode on the rig

[2016-12-09 16:45] Marzona opened #74 "the user may want to suspend the scanning and resume it"
Scanning happens by tuning different frequencies, using a step to define the next frequency to be tuned.
Sometimes you spot a possible signal exactly in the middle of two tuned frequencies.. aka your scanning granularity is high enough.

One way to solve the issue is to reduce the size of the scanning step, another handy option would be to suspend the scanning, tune manually the signal and them re

[2016-12-10 05:21] Marzona opened #75 "the last change on the hostname/port identifies the rig that is used for scanning."
Updating the fields for hostname and port, has the unexpected side effect of updating the values for the rig to use for scanning, that should be fixed at rig1.

[2016-12-10 05:21] Marzona commented on #75
fixed in 6021d07f0a6c3feeb19c7d5b610669302ac8f833 in devel branch

[2016-12-10 05:21] #75 closed, assigned to Marzona

[2016-12-12 06:20] Marzona commented on #73
fixed in ec8268df34d7bf70903e25fa1be765ddfab878b0 now in devel

[2016-12-12 06:20] #73 closed, assigned to Marzona

[2016-12-13 04:37] #37 closed, assigned to nobody

[2016-12-15 06:11] Marzona commented on #69
done in 3d9863e33684b1978f99c43356631fefd3bb9e38 now in devel branch

[2016-12-15 06:11] #69 closed, assigned to Marzona

[2016-12-15 06:11] Marzona commented on #68
done 3d9863e33684b1978f99c43356631fefd3bb9e38 now in devel branch

[2016-12-15 06:11] #68 closed, assigned to Marzona

[2016-12-15 06:13] Marzona commented on #26
fixed in  a508c75e09dd373565ad329da76805a2faaca13d and merged into devel branch

[2016-12-15 06:13] #26 closed, assigned to Marzona

[2016-12-24 15:04] Marzona opened #77 "Update the documentation wiki"
Release 3 adds some features and the UI of Rig-Remote has changed, the documentation needs to be updated accordingly

[2016-12-24 15:06] Marzona commented on #77
done in bc4e682b662c2b51f8b7f985f451e11259dd9dd8 in the git repo of the wiki

[2016-12-24 15:06] #77 closed, assigned to Marzona

[2016-12-24 15:07] Marzona opened #78 "Update the pip package"
generate and update the pip package for rig-remote

[2016-12-24 15:10] Marzona opened #79 "Merge the code in master"
-marge the devel branch in master

-publish the updated documentation

-notify the mailing list

[2016-12-26 21:26] Marzona opened #81 "improve scanning behavior"
an improvement on the scanning behavior could be to tune a frequency, probe it a few times before making the choice of bookmarking it or not.
The problem is to define how much to wait, the "delay" value captured by the UI was inserted for allowing the User to listen and to be able to stop the scanning task if something interesting is found.
We could use the same value meaning the tool captures the

[2017-01-01 23:41] stuzog opened #82 "rig-remote dumps stack trace when no config folder is present (was: Not working on OS X 10.11.6)"
On an iMac 7,1 running OS X 10.11.6 I get this with rig-remote-2.0:

[code]

I made a file `rig-bookmarks.csv` formatted according to the README but it didn't find it, either in `rig-remote` or `rig-remote-2.0`:

[code]

[2017-01-02 07:59] Marzona commented on #82
there is a new release coming out soon from master branch. In master branch i fixed some bugs already. I am setting up a better testing environment on OSs different than Linux (the platform on which I develop rig-remote).

Meanwhile can you checkout the code now in Master and check if you still have the behavior you have described here?

[2017-01-02 19:50] Marzona commented on #79
done in 121d31638a487acba5c17978f9de95a92d4dd8d5

[2017-01-02 19:50] #79 closed, assigned to Marzona

[2017-01-02 19:52] Marzona opened #83 "test rig-remote on OSX and Windows"

[2017-01-02 21:00] stuzog commented on #82
Downloaded latest but build did not start, giving an error in reference to the bookmarks file. I've had this problem all along and have not been able get r-r to recognise the bookmarks `rig-bookmarks.csv` file I created and placed in the r-r directory:

[code]

[2017-01-02 21:15] stuzog commented on #82
BTW, I noticed `rig-remote/test/test_bookmarls.py` -- should that not be `test_bookmarks.py`?

[2017-01-02 21:19] Marzona commented on #82
in 4ef68e506ee8d88233e5745a60a42e02dd229b68 I fixed the name of the test file.

Despite being a typo in the file name, it is a file containing unit tests, so it is not affecting the tool itself. That file is not included anywhere in the project.

[2017-01-02 21:22] Marzona commented on #82
ok, I managed to reproduce the problem. I'll work on that for the release 3 of rig-remote.

Thanks for all the info. I'll update this issue as soon as I have updates.

[2017-01-02 21:25] Marzona commented on #82
The branch for the work on this issue is https://github.com/Marzona/rig-remote/tree/issues-82

[2017-01-02 21:29] stuzog commented on #82
OK, thanks Simone.

NOTE: link in `README.md;`
<https://github.com/Marzona/rig-remote/blob/master/screenshots/rig-remote-fork.png>
is broken.

[2017-01-02 21:31] Marzona commented on #82
link fixed

[2017-01-02 21:41] stuzog commented on #82
Also in README.md:

STARTS CLIP->

[code]

ENDS CLIP->

should be:

STARTS CLIP->

If you are using Windows you just need to double-click the
`rig-remote.py` file (as the `.py` file type is most likely already
bound with `python` executable). If you want to get rid of the anoying
command-line that is always running in background you may rename
`rig-remote.py` to `rig-remote.pyw` and Windows will u

[2017-01-03 06:55] stuzog commented on #82
Hi Simone,

Here's an edit of the README.md file with corrected markdown and (I
hope) slightly improved language!

Stuart

[2017-01-03 07:59] Marzona commented on #82
Thanks

[2017-01-03 08:04] stuzog commented on #82
Hi Simone,

I've been making progress with getting rig-remote to run on OS X, using
this invocation in the r-r directory in Terminal:

`python rig-remote.py --bookmarks rig-bookmarks.csv --log rig-logfile.txt`

The r-r window opens with a floating python warning window:

*Invalid value in Bookmark #0. Skipping...*

Clicking OK just closes and immediately reopens it, so I have to close
the Terminal

[2017-01-03 08:08] Marzona opened #84 "Create a wiki page documenting the configuration file of rig-remote"

[2017-01-03 08:08] Marzona commented on #82
the logic in rig-remote should create a default config file if no config file is found, and this logic needs to be fixed.
https://github.com/Marzona/rig-remote/issues/84 should capture the configuration file documentation

[2017-01-03 08:09] Marzona opened #85 "update the readme.md as suggested in https://github.com/Marzona/rig-remote/issues/84"

[2017-01-03 08:09] Marzona commented on #82
https://github.com/Marzona/rig-remote/issues/85 should capture the above suggestion you provided

[2017-01-03 11:03] Marzona opened #86 "review the logic used for handling configuration"
The current logic is confusing and needs to be refactored.

[2017-01-03 11:04] Marzona commented on #82
https://github.com/Marzona/rig-remote/issues/86 has been created for re-factoring the part of the code that handles the configuration of the tool (defaults, save/load at all).

[2017-01-03 12:35] Marzona commented on #82
The reported behavior should be fixed in commit: 9d637116bb358eac71b2e8ff59d3d14f98904a63 now in branch https://github.com/Marzona/rig-remote/tree/issues-82.

I am going to test this codechange on a  "clean" machines before merging into master branch.

[2017-01-03 13:59] Marzona commented on #82
test done on clean installs of Win, OSX and Linux. The tool loads as expected.

[2017-01-03 13:59] #82 closed, assigned to Marzona

[2017-01-03 14:18] Marzona commented on #83
Doneeeee!

[2017-01-03 14:18] #83 closed, assigned to Marzona

[2017-01-12 22:28] stuzog opened #88 "Import bookmarks errors"
I keep getting errors when importing a plain csv file after starting r-r on OS X -- nothing imports:

Bookmarks file (.txt added to conform with Github restrictions):
[rig-bookmarks.csv.txt](https://github.com/Marzona/rig-remote/files/703098/rig-bookmarks.csv.txt)

[rig-remote v.2.1, OS X 10.11.6]

[code]

[2017-01-12 22:44] stuzog commented on #88
[rig-bookmarks.csv.txt](https://github.com/Marzona/rig-remote/files/703084/rig-bookmarks.csv.txt)

[2017-01-13 09:34] Marzona commented on #88
this seems the expexted behavior when the format of the bookmarks is not supported. I will check deeper and let you know here.

[2017-02-04 10:55] Marzona commented on #88
resolving as the file provided is not of the proper format/type.

[2017-02-04 10:56] Marzona commented on #88
I have this: https://github.com/Marzona/rig-remote/issues/84 for providing a clarification on how to write config files

[2017-02-04 10:56] #88 closed, assigned to Marzona

[2017-02-04 11:00] Marzona commented on #85
readme.md updated

[2017-02-04 11:00] #85 closed, assigned to nobody

[2017-02-04 11:00] Marzona commented on #84
also remove the info in readme.md.

[2017-02-04 20:59] stuzog commented on #88
No luck -- downloaded fresh rig-remote, opened it, tried to import bookmarks.csv file from menu -- still won't work, no bookmarks show on OS X 10.11.6 iMac 7,1.

[rig-remote-bookmarks.txt](https://github.com/Marzona/rig-remote/files/752557/rig-remote-bookmarks.txt)

[2017-02-05 12:39] Marzona commented on #88
Hello stuzog,

you are using a wrong format. I have https://github.com/Marzona/rig-remote/issues/84 for properly documenting the format, README.md is outdated and misleading now, since the last release.

I updated your txt file (ready to be renamed to csv and imported), it is attached here.

I attach here also a screenshot of the result.

![rig-remote-bookmarks](https://cloud.githubusercontent.com

[2017-02-05 19:25] stuzog commented on #88
Thanks Simone. The file you sent me imported correctly. I'd never have
guessed the proper format as the sample file in the README at
<https://github.com/Marzona/rig-remote> is still showing the wrong one.
Always lots of detail work for a developer! Good work -- thanks! 🙂

[2017-02-05 21:02] Marzona commented on #88
;)

[2017-02-05 21:20] stuzog commented on #88
Hi Simone,

Scanning works, but it gives a lot of auto-bookmark results using Wide
FM around a strong FM radio signal. Is there a way of reducing these? It
would be great to automatically return only the strongest (centre
frequency) of a signal cluster.

Also, there doesn't seem to be a way of deleting the added
auto-bookmarks -- how does one do this? If this was possible, it also
would be useful

[2017-02-05 21:30] Marzona opened #89 "while scanning a wide signal rig-remote bookmarks a lot of frequencies"
This happens when the interval is moving the tuned signal upwards but still inside the same signal tail (in the same gaussian). If the gaussian is wide enough and the signal is strong enough we have rig-remote bookmarking the same signal at a slightly different frequency.
Basically the scanning logic is too trivial

It would be great to automatically return only the strongest (centre frequency) of

[2017-02-05 21:35] Marzona opened #90 "Improve the user manual describing how to delete a bookmark item"

[2017-02-05 21:36] Marzona commented on #88
Hello Stuart,
may I ask to not use this (closed) issue for general discussion around the tool?

- if you have feature request create a new issue it will be classified and delivered according to the priorities.
- if you have general questions on the tool ("how to remove.."), the mailing list is the way to go.

in general, one issue<-> one feature/bug/task to implement, everything else ->mailing lis

[2017-02-06 01:27] stuzog commented on #88
OK, will do, thanks.

[2017-02-21 06:59] Marzona commented on #84
https://github.com/Marzona/rig-remote/wiki/Bookmark-file-format

[2017-02-21 06:59] #84 closed, assigned to nobody

[2017-02-21 07:42] Marzona commented on #90
https://github.com/Marzona/rig-remote/wiki/User-Manual

[2017-02-21 07:42] #90 closed, assigned to nobody

[2017-04-19 20:46] Marzona opened #91 "Write a wiki page regarding how to submit an bug report"
Write a wiki page regarding how to submit an bug report including:

-  adding the stack trace info (if applicable)
-  label the issue
-  provide the output of config-updater -d

with some example of the output of config-updater

[2017-04-19 20:46] Marzona opened #92 "quickly document config_checker.py"
quickly document config_updater.py

[2017-04-20 09:29] Marzona opened #93 "improve the configuration file management"
Update the file format including sections and relying on ConfigParser module for better error checking and better syntax

[2017-04-20 09:31] Marzona commented on #93
fixed in devel branch with 4cabe7dfabafe6816f3df8ce45eab1b5613f4e1d

[2017-04-20 09:31] #93 closed, assigned to Marzona

[2017-04-20 10:32] Marzona commented on #92
https://github.com/Marzona/rig-remote/wiki/User-Manual#config_checker

[2017-04-20 10:32] #92 closed, assigned to Marzona

[2017-04-21 07:16] Marzona commented on #91
updated https://github.com/Marzona/rig-remote/wiki/FAQ

[2017-04-21 07:16] #91 closed, assigned to Marzona

[2017-04-26 05:47] Marzona opened #94 "merge in the continuous sync logic from gqrx-hamlib"
As discussed with Simon, we are going to merge into rig-remote the features of https://github.com/g0fcu/gqrx-hamlib.

This issue is tracking the work required to implement the logic that will "keep in sync" the frequency on hamlib side and on gqrx.
The code should follow the same logic of the existing one in gqrx-hamlib. The implementation should rely on the existing methods for getting and settin

[2017-04-26 05:51] Marzona opened #95 "update the UI to accommodate the sync features from gqrx-hamlib"
As discussed with Simon, we are going to merge into rig-remote the features of https://github.com/g0fcu/gqrx-hamlib.

This issue is tracking the work required to update the UI to provide access to the feature provided by gqrx-hamlib.
The changes that I foresee as of now are:
- something a checkbutton that once pressed will trigger the code that fetches the frequency from hamlib and sets the same t

[2017-04-26 06:01] Marzona commented on #86
Fixed in 571ff9960ef0ebec0c19ea5d8dafe31929d92ea2 that is in devel right now.

[2017-04-26 06:01] #86 closed, assigned to Marzona

[2017-05-02 05:35] Marzona opened #96 "improve documentation on the ui.py module"
write a wiki page mapping ui widgets and inputs fields to functions in the code.
This is required for having g0fcu to write a new UI.

[2017-05-02 05:40] Marzona commented on #96
started here: https://github.com/Marzona/rig-remote/wiki/UI-module-mappings

[2017-05-04 06:14] #96 closed, assigned to Marzona

[2017-05-04 06:20] Marzona opened #97 "write the integration with fldigi"
gqrx-hamlib provides a way to interact with fldigi, review the code and see if the same feature can be provided in rig-remote

[2017-05-04 06:22] Marzona opened #98 "Create a new ui based on QT"
design a new and more usable user interface based on QT

[2017-05-08 20:58] Marzona commented on #89
fixed in 20be901ee0f75e7fed360d5deb22365b03deebf7, now in devel branch

[2017-05-08 20:58] #89 closed, assigned to nobody

[2017-05-09 06:28] Marzona opened #99 "config_checker.py needs to be able to open an issue"
Config_checker should have the feature to open/update an issue on github with some data included regarding the environment, the OS and other things may be useful for debugging a misbehavior.

[2017-05-19 06:51] Marzona commented on #94
commit 14e64c67f31e986766e3d3c18dbbe5af04e038f4 now i devel branch

[2017-05-19 06:51] #94 closed, assigned to nobody

[2017-09-06 13:51] maurizioandreotti opened #100 "wrong mode getting saved after "get" from gqrx 2.7"
HI.
I am using rig-remote (latest version as of today) with gqrx 2.7 for its scanning and bookmarking features.

I found this: when i do a GET from gqrx I get in the "mode" field a text like this:
"AM^\10000"

If I ADD it in the bookmark, rig-remote add it and keep working apparently fine.

when then I close rig-remote and reopen it, it is not able to load reading any bookmark at anymore and provi

[2017-09-17 11:05] Marzona commented on #100
Hello,
I am not able to reproduce the problem, it may be related to gqrx2.7 (which I have to install, I have gqrx2.6). Can you please provide:

- OS you are using
- screenshot of the problem (if possible)

thanks

[2017-09-17 11:07] Marzona commented on #100
Question: is this happening only with AM or it is happening in other modes aswell?

[2017-09-17 11:38] Marzona commented on #100
reproduced with gqrx 2.8 built from source.
The issue happens from gqrx2.7 upwards. This may not be an issue of rig-remote. If I talk directly to the GQRX socket on GQRX 2.6 I get:
<pre>
marzona@rubberduck:~$ telnet localhost 7357
Trying 127.0.0.1...
Connected to localhost.
Escape character is '^]'.
m
WFM_ST
</pre>
While on GQRX 2.8 I get:

<pre>
marzona@rubberduck:~$ telnet localhost 7356
Trying

[2017-09-20 05:40] Marzona commented on #100
as per https://github.com/csete/gqrx/issues/560 the expected behavior changed over the releases and I have to update the code in my side.

[2017-09-20 08:22] maurizioandreotti commented on #100
ciao.  sorry I was away. I don't have the Linux PC with me now.
I was using the latest version compiled from sources

the issue was for all modes.  When I was taking the config from the sdr app
the string was just coming in this other way.

Il 20 set 2017 07:40, "Simone Marzona" <notifications@github.com> ha
scritto:

[2017-09-20 09:18] Marzona commented on #100
No problem.

as per confirmation of csete this is the new expected behavior and I will update my code accordingly.

[2017-09-30 08:51] Marzona commented on #100
fixed in : https://github.com/Marzona/rig-remote/pull/101

pull merged in master branch.

[2017-09-30 08:51] #100 closed, assigned to Marzona

[2020-04-14 01:24] Charlier26 opened #102 "Mine does not have a "Frequency Sync" button ?"
I wanted to use this to sync the frequencies of the two devices (a ham rig and my SDR receiver).
In the screenshots it shows a "Frequency Sync" button. Mine does not display that. I have version 2.1.

Thanks,

Charlie KB8CR

[2020-07-13 20:56] Marzona commented on #102
Hey,
Which Operating System are you running? wich version?

[2020-07-13 22:24] Charlier26 commented on #102
I was using it on Raspberry Pi with Raspbian Buster

Charlie

From: Simone Marzona <notifications@github.com>
Reply-To: Marzona/rig-remote <reply@reply.github.com>
Date: Monday, July 13, 2020 at 4:56 PM
To: Marzona/rig-remote <rig-remote@noreply.github.com>
Cc: Charlie Rubenstein <charlier@fuse.net>, Author <author@noreply.github.com>
Subject: Re: [Marzona/rig-remote] Mine does not have a "Frequen

[2022-01-12 16:46] xiego opened #103 "Black Screen on M1 Mac"
Running MacOS 12.1 on an M1.
<img width="1011" alt="Screen Shot 2022-01-12 at 10 44 53 AM" src="https://user-images.githubusercontent.com/27784778/149184033-145eaadd-e62b-4007-be99-ce3bb7eab10a.png">